# npm 镜像配置
registry=https://registry.npmmirror.com

# Electron 镜像
electron_mirror=https://npmmirror.com/mirrors/electron/

# Canvas 镜像
canvas_binary_host_mirror=https://npmmirror.com/mirrors/canvas/

# Better-SQLite3 镜像
better_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/better-sqlite3/

# 网络配置
fetch-timeout=120000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=180000
fetch-retries=5
